<template name="game">
    <div class="container">
    <div class="section">
        <div class="row center"> 
            <h3>Your Score: {{findScore currentUserIndex}} - Opponent Score: {{findScore opponentIndex}}</h3>
        </div>
        </div>
        {{#with activeQuestion}}
        <div class="section">
        <div class="row center">
            <div class="card-panel">
                <h4>{{question}}</h4>
            </div>
            </div>
            {{#each choices}}
            <div class="row center">
            <div class="card-panel">
                <div>{{this}}</div>
                <a class="waves-effect btn pick">Pick</a>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </div>
</template>